<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- datatable and displying in lines. where ? https://datatables.net/ -->
  <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

  <title>Inventory</title>
</head>

<body>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Inventory
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="Add-Inventory" id="exampleModalLabel">Add Inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="POST" action="/">
            <div class="form-group">
              <label for="exampleInputname1">Name</label>
              <input type="name" class="form-control" name="name" id="exampleInputName" aria-describedby="NameHelp"
                placeholder="Enter inventory name">
            </div>
            <div class="form-group">
              <label for="exampleInputname1">Item_quantity</label>
              <input type="name" class="form-control" name="quantity" id="exampleInputName" aria-describedby="NameHelp"
                placeholder="Enter inventory name">
            </div>


            <div class="form-group">
              <label for="exampleInputname1">Buying Price</label>
              <input type="name" class="form-control" name="buying_price" id="exampleInputName"
                aria-describedby="NameHelp" placeholder="Enter buying price">
            </div>

            <div class="form-group">
              <label for="exampleInputname1">Selling Price</label>
              <input type="name" class="form-control" name="selling_price" id="exampleInputName"
                aria-describedby="NameHelp" placeholder="Enter selling price">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </div>
        </form>

      </div>
    </div>
  </div>

  <table id="salestable" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buying price</th>
        <th scope="col">Selling price</th>
        <th scope="col">Stock </th>
        <th scope="col">Reorder point</th>
        <th scope="col">View Sales</th>
        <th scope="col">Edit Record</th>
        <th scope="col">Make Sale</th>
        <th scope="col">Delete Record</th>

      </tr>
    </thead>
    <tbody>

      <!-- This displays your data on the browser -->

      {% for x in records %}

      <tr>
        <td></td>
        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.quantity}}</td>
        <td>{{x.buying_price}}</td>
        <td>{{x.selling_price}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{x.id}}">
            Make Sale
          </button>
          <div class="modal fade" id="exampleModal{{x.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Make Sale</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/sales" method="post">
                    <input type="hidden" name="item_id" value="{{x.id}}">
                    <div class="form-group">
                      <label for="" class="form-label">Quantity</label>
                      <input type="text" class="form-control" name="item_quantity" id="item_quantity"
                        aria-describedby="emailHelp">
                    </div>
                    <input type="submit" class="btn btn-primary">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
      {%endfor%}

    </tbody>
  </table>

  <!-- datatables where? https://code.jquery.com/ & https://datatables.net/-->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script>$(document).ready(function () {
      $('#salestable').DataTable();
    });</script> -->

  <!-- Optional JavaScript --> 
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>